.content {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
}

.secundario {
    width: 100vh;
}

ion-img {
    margin-bottom: 15%;
}

ion-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 7%;
    text-align: end;
}    

ion-input {
    max-width: 90%;
    margin: 2% auto;
}


ion-button {
    
    --border-width: 1px;
    --border-style: solid;
    --border-color: #b9b9b956;
    
    --ripple-color: #88f4be;
    
    --padding-top: 10px;
    --padding-bottom: 10px;
    
    min-width: 10em;
    min-height: 3em;
}

.olvide {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

.fin {
    display: flex;
    justify-content: center;
}

.fin-2 {
    margin-bottom: 5%;
}

ion-label {
    --color: #000000;
}

a {
    text-decoration-line: none;
    font-size: .8em;
}